<section>
  <div class="grid grid-rows-4 grid-flow-col gap-4 ">
    <div class="row-span-4   ">
      <ng-icon name="heroBeakerSolid" class="text-3xl mx-3"></ng-icon>
      <input inputNoBorder placeholder="Title" class="text-4xl" />

      <h2 class="text-2xl">Summary</h2>
      <app-milkdown-editor></app-milkdown-editor>

    </div>

    <div class="grid col-span-2 row-span-2 grid-flow-col gap-2  ">

      <div class="grid col-span-2 row-span-2 grid-flow-col  ">
        <h1 class="text-base-content text-2xl">Total Piece Inside Inventory </h1>
      </div>

      <div class="grid col-span-2 row-span-2 grid-flow-col  ">
        <h1 class="text-base-content text-2xl">Can Made From Needed Material</h1>
      </div>
    </div>

    <div class="col-span-2  ">
      <ng-icon name="heroCurrencyDollarSolid" class="text-2xl mx-3"></ng-icon>
      <span class="text-base-content text-2xl py-3">Price Each 32 </span>
    </div>

    <div class="col-span-2  ">
      <ng-icon name="heroChartPieSolid" class="text-2xl mx-3"></ng-icon>
      <span class="text-base-content text-2xl">Capital For Total Item</span>
    </div>
  </div>

  <div class="collapse collapse-arrow  bg-base-200 shadow-md shadow-regal-blue">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      List Used component
    </div>
    <div class="collapse-content">
      <div class="flex flex-row">
        <p>Resistor</p>
        <button class="btn btn-xs mx-2 btn-primary">edit</button>
      </div>
    </div>
  </div>

  <button class="btn my-5 btn-accent">Show Step Produce</button>

  <app-prosemirror-basic-editor></app-prosemirror-basic-editor>
  <app-dialog dialogTitle="Jangkrik">
    <h1>Dialog Content </h1>
    <p>
      Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
    </p>
  </app-dialog>
</section>
