<div class="card">
  <p-dataView #dw
              [value]="lists"
              [rows]="3"
              [paginator]="true">

    <ng-template pTemplate="list"
                 let-lists>
      <div class="flex flex-column">

        <div *ngFor="let item of lists; let first = first;"
             class="my-2">
          <p-card [header]="item.name"
                  [subheader]="getDate(item.createdDate)"
                  [style]="{ width: '100%'}">
            <ng-template pTemplate="header">
            </ng-template>
            <p class="item-description">
              {{item.description}}
            </p>
            <ng-template pTemplate="footer">
              <div class="tag-expander flex align-items-center">
                <p-checkbox #chipExpanded
                            [binary]="true"
                            inputId="binary" />
                <label [style]="{marginLeft: '20px'}"> Show Tags</label>
              </div>

              <ng-container *ngIf="chipExpanded.checked()">
                <p-floatLabel>
                  <p-chips id="chips" />
                  <label for="chips">Tags</label>
                </p-floatLabel>
              </ng-container>

            </ng-template>

          </p-card>
        </div>

      </div>
    </ng-template>
  </p-dataView>
</div>

<!-- <p-table [value]="lists" -->
<!--          [tableStyle]="{ 'min-width': '50rem' }"> -->
<!--   <ng-template pTemplate="header"> -->
<!--     <tr> -->
<!--       <th>Name</th> -->
<!--       <th>Created Date</th> -->
<!--       <th>Dead Line Date</th> -->
<!--       <th>Sell Price</th> -->
<!--     </tr> -->
<!--   </ng-template> -->
<!--   <ng-template pTemplate="body" -->
<!--                let-lists> -->
<!--     <tr> -->
<!--       <td>{{ lists.name}}</td> -->
<!--       <td>{{ lists.createdDate}}</td> -->
<!--       <td>{{ lists.deadLineDate}}</td> -->
<!--       <td>{{ lists.sellPrice}}</td> -->
<!--     </tr> -->
<!--   </ng-template> -->
<!-- </p-table> -->
