<h1>
  <span class="pi pi-lightbulb"
        style="font-size: 2.5rem"></span>
  Project
</h1>
<!-- <div *ngIf="projectById$ | async as project; else loading"> -->
<!--   {{project.name}} -->
<!--   {{project.description}} -->
<!-- </div> -->
<!-- <ng-template #loading> -->
<!--   Loading user information... -->
<!-- </ng-template> -->

<p *ngIf="projectData | async as data">{{data}}</p>
<project-page-create-new-project />


<!-- <form-generator [data]="formData" -->
<!--                 (OnSubmit)="OnFormSubmit($event)" /> -->
<p-divider />

<h2>Books</h2>
<app-book-list class="book-list"
               [books]="(books$ | async)!"
               (add)="onAdd($event)"></app-book-list>

<h2>My Collection</h2>
<app-book-collection class="book-collection"
                     [books]="(bookCollection$ | async)!"
                     (remove)="onRemove($event)">
</app-book-collection>
